src/Umbraco.Web.UI/Umbraco/translation/translationTasks.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT translationTasks ((task))>
<!ATTLIST translationTasks
	TotalWords CDATA #REQUIRED
>
<!ELEMENT task ((Comment, PreviewUrl, node, task*))>
<!ATTLIST task
	Date CDATA #REQUIRED
	Id ID #REQUIRED
	NodeId CDATA #REQUIRED
	TotalWords CDATA #REQUIRED
>
<!ELEMENT node ((data+))>
<!ATTLIST node
	createDate CDATA #REQUIRED
	creatorID CDATA #REQUIRED
	creatorName CDATA #REQUIRED
	id CDATA #REQUIRED
	level CDATA #REQUIRED
	nodeName CDATA #REQUIRED
	nodeType CDATA #REQUIRED
	nodeTypeAlias CDATA #REQUIRED
	parentID CDATA #REQUIRED
	path CDATA #REQUIRED
	sortOrder CDATA #REQUIRED
	template CDATA #REQUIRED
	updateDate CDATA #REQUIRED
	urlName CDATA #REQUIRED
	version CDATA #REQUIRED
	writerID CDATA #REQUIRED
	writerName CDATA #REQUIRED
>
<!ELEMENT data (#PCDATA)>
<!ATTLIST data
	alias CDATA #REQUIRED
>
<!ELEMENT PreviewUrl (#PCDATA)>
<!ELEMENT Comment EMPTY>
