src/umbraco.presentation/umbraco/Trees/XmlTree.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trees">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" name="tree">
          <xs:complexType>
            <xs:attribute name="menu" type="xs:string" />
            <xs:attribute name="text" type="xs:string" />
            <xs:attribute name="action" type="xs:string" />
            <xs:attribute name="src" type="xs:string" />
            <xs:attribute name="rootSrc" type="xs:string" />
            <xs:attribute name="icon" type="xs:string" />
            <xs:attribute name="iconClass" type="xs:string" />
            <xs:attribute name="openIcon" type="xs:string" />
            <xs:attribute name="nodeType" type="xs:string" />
            <xs:attribute name="nodeID" type="xs:string" />
            <xs:attribute name="isProtected" type="xs:boolean" />
            <xs:attribute name="notPublished" type="xs:boolean" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>