src/Umbraco.Web/Web References/org.umbraco.update/checkforupgrade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://update.umbraco.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://update.umbraco.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://update.umbraco.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Install">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="installId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="isUpgrade" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="installCompleted" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="versionMajor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="versionMinor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="versionPatch" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="versionComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAgent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbProvider" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckUpgrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="versionMajor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="versionMinor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="versionPatch" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="versionComment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUpgradeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUpgradeResult" type="tns:UpgradeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpgradeResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UpgradeType" type="tns:UpgradeType" />
          <s:element minOccurs="0" maxOccurs="1" name="UpgradeUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UpgradeType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Patch" />
          <s:enumeration value="Minor" />
          <s:enumeration value="Major" />
          <s:enumeration value="Critical" />
          <s:enumeration value="Error" />
          <s:enumeration value="OutOfSync" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstallSoapIn">
    <wsdl:part name="parameters" element="tns:Install" />
  </wsdl:message>
  <wsdl:message name="InstallSoapOut">
    <wsdl:part name="parameters" element="tns:InstallResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUpgradeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUpgrade" />
  </wsdl:message>
  <wsdl:message name="CheckUpgradeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUpgradeResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckForUpgradeSoap">
    <wsdl:operation name="Install">
      <wsdl:input message="tns:InstallSoapIn" />
      <wsdl:output message="tns:InstallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUpgrade">
      <wsdl:input message="tns:CheckUpgradeSoapIn" />
      <wsdl:output message="tns:CheckUpgradeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckForUpgradeSoap" type="tns:CheckForUpgradeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Install">
      <soap:operation soapAction="http://update.umbraco.org/Install" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpgrade">
      <soap:operation soapAction="http://update.umbraco.org/CheckUpgrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckForUpgradeSoap12" type="tns:CheckForUpgradeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Install">
      <soap12:operation soapAction="http://update.umbraco.org/Install" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpgrade">
      <soap12:operation soapAction="http://update.umbraco.org/CheckUpgrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckForUpgrade">
    <wsdl:port name="CheckForUpgradeSoap" binding="tns:CheckForUpgradeSoap">
      <soap:address location="http://update.umbraco.org/checkforupgrade.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckForUpgradeSoap12" binding="tns:CheckForUpgradeSoap12">
      <soap12:address location="http://update.umbraco.org/checkforupgrade.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>